@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700;900&family=Roboto:wght@400;500;700;900&display=swap");
:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-background-color: #2f303a;
  --secondary-white-color: #f5f4fa;
  --primary-grey-color: #eeeeee;
  --std-timing: 250ms;
  --long-timing: 1s;
  --std-time-func: cubic-bezier(0.4, 0, 0.2, 1);
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", Verdana, sans-serif;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  overflow-x: hidden;
}

.menu-container.is-open body {
  overflow-y: hidden;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
  font-style: normal;
  color: inherit;
  -webkit-transition-property: color, background-color, -webkit-box-shadow, -webkit-transform;
  transition-property: color, background-color, -webkit-box-shadow, -webkit-transform;
  transition-property: color, background-color, box-shadow, transform;
  transition-property: color, background-color, box-shadow, transform, -webkit-box-shadow, -webkit-transform;
  -webkit-transition: color var(--std-timing) var(--std-time-func), background-color var(--std-timing) var(--std-time-func), -webkit-box-shadow var(--std-timing) var(--std-time-func), -webkit-transform var(--std-timing) var(--std-time-func);
  transition: color var(--std-timing) var(--std-time-func), background-color var(--std-timing) var(--std-time-func), -webkit-box-shadow var(--std-timing) var(--std-time-func), -webkit-transform var(--std-timing) var(--std-time-func);
  transition: color var(--std-timing) var(--std-time-func), background-color var(--std-timing) var(--std-time-func), box-shadow var(--std-timing) var(--std-time-func), transform var(--std-timing) var(--std-time-func);
  transition: color var(--std-timing) var(--std-time-func), background-color var(--std-timing) var(--std-time-func), box-shadow var(--std-timing) var(--std-time-func), transform var(--std-timing) var(--std-time-func), -webkit-box-shadow var(--std-timing) var(--std-time-func), -webkit-transform var(--std-timing) var(--std-time-func);
}
.link:hover, .link:focus {
  color: var(--accent-color);
}

p {
  margin: 0;
  padding: 0;
}

.text {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.1666666667;
  text-align: center;
  color: var(--secondary-text-color);
}
@media screen and (min-width: 1200) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.cardset {
  display: block;
}
@media screen and (min-width: 768px) {
  .cardset {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 48px;
  right: -120%;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition: var(--long-timing) var(--std-time-func), -webkit-transform var(--long-timing) var(--std-time-func);
  transition: var(--long-timing) var(--std-time-func), -webkit-transform var(--long-timing) var(--std-time-func);
  transition: transform var(--long-timing) var(--std-time-func), var(--long-timing) var(--std-time-func);
  transition: transform var(--long-timing) var(--std-time-func), var(--long-timing) var(--std-time-func), -webkit-transform var(--long-timing) var(--std-time-func);
}

.menu-container.is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: scroll;
  position: fixed;
  top: 0;
  right: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: var(--primary-white-color);
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.175;
  color: var(--secondary-text-color);
}
.mobile-menu__link.current {
  color: var(--accent-color);
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: var(--accent-color);
}

.mobile-menu__contacts .item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__contacts .item:nth-child(2) {
  margin-bottom: 64px;
}

.item.tel {
  font-size: 34px;
  line-height: 1.1764705882;
}

.item.mail {
  font-size: 24px;
  line-height: 1.1666666667;
}

.mobile-menu__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: var(--accent-color);
}

.mms-item {
  display: block;
  position: relative;
  font-size: 18px;
  line-height: 1.2222222222;
}

.mms-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  background-color: rgba(33, 33, 33, 0.2);
  height: 1px;
  width: 22px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.menu-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .menu-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .menu__button {
    display: none;
  }
}

.logo {
  text-decoration: none;
  width: 145px;
  height: 31px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1923076923;
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}

.logo--dark {
  color: #000000;
}

.logo--light {
  color: var(--primary-white-color);
}

.header {
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.header__contacts {
  margin-left: auto;
}
@media screen and (min-width: 1200px) {
  .header__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .header__item + .header__item {
    margin-left: 50px;
  }
  .header__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--primary-text-color);
    font-weight: 500;
  }
}
.smartphone {
  margin-right: 10px;
  width: 10px;
  height: 14px;
  fill: currentColor;
}
@media screen and (min-width: 1200px) {
  .smartphone {
    height: 16px;
  }
}

.envelope {
  width: 14px;
  height: 10px;
  margin-right: 10px;
  fill: currentColor;
}
@media screen and (min-width: 1200px) {
  .envelope {
    width: 16px;
    height: 12px;
  }
}

.nav {
  margin-left: 93px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item {
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav__item + .nav__item {
  margin-left: 50px;
}

.nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  color: var(--secondary-text-color);
  line-height: 1.1428571429;
  color: var(--secondary-text-color);
}

.nav__link.current {
  position: relative;
  color: var(--accent-color);
}
.nav__link.current::before {
  content: "";
  position: absolute;
  bottom: -4px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.hero {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  background-color: #2f303a;
  text-align: center;
}

.hero__title {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px;
  padding-top: 200px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636363636;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.hero__overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-mobile.img.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-mobile.img.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-mobile.img@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-mobile.img@2x.jpg);
  }
}
@media screen and (min-width: 481px) {
  .hero__overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-tablet.img.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-tablet.img.jpg);
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-tablet.img@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-tablet.img@2x.jpg);
  }
}
@media screen and (min-width: 769px) {
  .hero__overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-desktop.Img.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-desktop.Img.jpg);
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-desktop.img@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-desktop.img@2x.jpg);
  }
}

.button {
  display: inline-block;
  cursor: pointer;
  font-family: inherit;
  color: var(--secondary-text-color);
  background-color: var(--secondary-white-color);
  border-radius: 4px;
  border-color: transparent;
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition: background-color var(--std-timing) var(--std-time-func), -webkit-box-shadow var(--std-timing) var(--std-time-func);
  transition: background-color var(--std-timing) var(--std-time-func), -webkit-box-shadow var(--std-timing) var(--std-time-func);
  transition: background-color var(--std-timing) var(--std-time-func), box-shadow var(--std-timing) var(--std-time-func);
  transition: background-color var(--std-timing) var(--std-time-func), box-shadow var(--std-timing) var(--std-time-func), -webkit-box-shadow var(--std-timing) var(--std-time-func);
}
.button:hover, .button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.order-button {
  padding: 10px 32px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
}

.order-button .icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

.modal ~ .button {
  min-width: 200px;
  min-height: 50px;
}

.close-btn .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-18%, -18%);
          transform: translate(-18%, -18%);
  width: 30px;
  height: 30px;
  fill: currentColor;
  -webkit-transition-property: color;
  transition-property: color;
}
.close-btn .icon:hover, .close-btn .icon:focus {
  cursor: pointer;
  color: var(--accent-color);
  -webkit-transition: var(--std-timing) var(--std-time-func);
  transition: var(--std-timing) var(--std-time-func);
}
@media screen and (min-width: 768px) {
  .close-btn .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-16%, -16%);
            transform: translate(-16%, -16%);
  }
}

.form-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  width: 30px;
  height: 30px;
  outline: unset;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition: var(--std-timing) var(--std-time-func);
  transition: var(--std-timing) var(--std-time-func);
}

.menu__button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
}
.menu__button:hover, .menu__button:focus {
  color: var(--accent-color);
}

.menu__icon {
  width: 100%;
  height: 100%;
  fill: currentColor;
}

.close-menu {
  display: none;
}

.menu-container.is-open .close-menu {
  position: absolute;
  top: 10px;
  right: 15px;
  display: block;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-radius: 50%;
  border: none;
}
.menu-container.is-open .close-menu:hover, .menu-container.is-open .close-menu:focus {
  outline: unset;
  color: var(--accent-color);
}

.cross {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  overflow: scroll;
  opacity: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition-property: background-color, -webkit-transform;
  transition-property: background-color, -webkit-transform;
  transition-property: background-color, transform;
  transition-property: background-color, transform, -webkit-transform;
  -webkit-transition: background-color var(--std-timing) var(--std-time-func), -webkit-transform var(--std-timing) var(--std-time-func);
  transition: background-color var(--std-timing) var(--std-time-func), -webkit-transform var(--std-timing) var(--std-time-func);
  transition: background-color var(--std-timing) var(--std-time-func), transform var(--std-timing) var(--std-time-func);
  transition: background-color var(--std-timing) var(--std-time-func), transform var(--std-timing) var(--std-time-func), -webkit-transform var(--std-timing) var(--std-time-func);
}

.backdrop.is-hidden .modal {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.modal {
  position: absolute;
  top: 94px;
  left: 50%;
  -webkit-transform: translateX(-50%) scale(1);
          transform: translateX(-50%) scale(1);
  width: 450px;
  padding: 40px;
  -webkit-transition-property: -webkit-transform, -webkit-box-shadow;
  transition-property: -webkit-transform, -webkit-box-shadow;
  transition-property: transform, box-shadow;
  transition-property: transform, box-shadow, -webkit-transform, -webkit-box-shadow;
  -webkit-transition: -webkit-transform var(--std-timing) var(--std-time-func), -webkit-box-shadow var(--std-timing) var(--std-time-func);
  transition: -webkit-transform var(--std-timing) var(--std-time-func), -webkit-box-shadow var(--std-timing) var(--std-time-func);
  transition: transform var(--std-timing) var(--std-time-func), box-shadow var(--std-timing) var(--std-time-func);
  transition: transform var(--std-timing) var(--std-time-func), box-shadow var(--std-timing) var(--std-time-func), -webkit-transform var(--std-timing) var(--std-time-func), -webkit-box-shadow var(--std-timing) var(--std-time-func);
  background-color: var(--primary-white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .modal {
    top: 15%;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.modal .title {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.form-field > .icon {
  position: absolute;
  left: 19px;
  bottom: 2px;
  width: 18px;
  height: 18px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition-property: fill;
  transition-property: fill;
}

.form-field:focus-within .icon {
  fill: var(--accent-color);
  -webkit-transition: var(--std-timing) var(--std-time-func);
  transition: var(--std-timing) var(--std-time-func);
}

.form-field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}

.form-field input,
textarea,
.subscribe input {
  outline: unset;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition-property: border-color;
  transition-property: border-color;
}

.form-field input:focus,
textarea:focus,
.subscribe input:focus {
  border-color: var(--accent-color);
  -webkit-transition: var(--std-timing) var(--std-time-func);
  transition: var(--std-timing) var(--std-time-func);
}

.form-field label {
  margin-bottom: 4px;
}

.form-field.comment {
  margin-bottom: 20px;
}

.form-field input {
  padding-right: 12px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 32px;
}

textarea {
  min-height: 120px;
  resize: none;
  padding: 12px 16px;
}

.agreement-link {
  margin-left: 5px;
  text-decoration: underline;
  color: var(--accent-color);
}

.agreement-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 12px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.agreement-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0;
}

.agreement-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  color: var(--primary-white-color);
  border: 2px solid var(--secondary-text-color);
  border-radius: 4px;
  -webkit-transition-property: color, border-color, background-color;
  transition-property: color, border-color, background-color;
}

.checkbox:focus + .agreement-icon {
  border-color: var(--accent-color);
  -webkit-transition: var(--std-timing) var(--std-time-func);
  transition: var(--std-timing) var(--std-time-func);
}

.checkbox:checked + .agreement-icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  -webkit-transition: var(--std-timing) var(--std-time-func);
  transition: var(--std-timing) var(--std-time-func);
}

.agreement-icon > .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  fill: currentColor;
}

.specialities__subtitle {
  text-transform: uppercase;
  margin-bottom: 10px;
  line-height: 1.1428571429;
  color: var(--secondary-text-color);
}

.icon-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--secondary-white-color);
}

.specialities__icon {
  width: 70px;
  height: 70px;
}

.specialities__card {
  width: 100%;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .specialities__card {
    margin: 15px;
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .specialities__card {
    width: 270px;
  }
}

.activity {
  padding-top: 0;
}
@media screen and (max-width: 1199px) {
  .activity {
    display: none;
  }
}

.activity__item {
  margin: 15px;
}

.activity__item {
  position: relative;
}

.activity__text {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0;
  width: 100%;
  height: 70px;
  margin: 0;
  font-weight: 700;
  line-height: 1.1428571429;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  line-height: 1.1875;
  background-color: var(--secondary-white-color);
}

.team__member-pic {
  margin-bottom: 30px;
}

.team__subtitle {
  padding: 0;
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
}

.team__text {
  margin-bottom: 16px;
  font-size: 16px;
}

.team__card {
  padding-bottom: 30px;
  text-align: center;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-white-color);
}
@media screen and (max-width: 767px) {
  .team__card {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team__card {
    margin: 15px;
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__card {
    width: calc((100% - 120px) / 4);
  }
}

.socials,
.socials__link--light,
.socials__link--dark,
.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socials__item + .socials__item {
  margin-left: 10px;
}

.socials__link--light {
  text-decoration: none;
  width: 44px;
  height: 44px;
  border: none;
  background-color: inherit;
  border-radius: 50%;
  color: #afb1b8;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition: var(--std-timing) var(--std-time-func);
  transition: var(--std-timing) var(--std-time-func);
}
.socials__link--light:hover, .socials__link--light:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.socials__link--dark {
  text-decoration: none;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  color: var(--primary-white-color);
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition: var(--std-timing) var(--std-time-func);
  transition: var(--std-timing) var(--std-time-func);
}
.socials__link--dark:hover, .socials__link--dark:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.socials__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.clients__item {
  margin: 15px;
  height: 92px;
}
@media screen and (max-width: 767px) {
  .clients__item {
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 180px) / 6);
  }
}

.clients__link {
  width: 100%;
  height: 100%;
  color: #afb1b8;
  background-color: inherit;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition-property: color, border-color;
  transition-property: color, border-color;
  -webkit-transition: var(--std-timing) var(--std-time-func);
  transition: var(--std-timing) var(--std-time-func);
}
.clients__link:hover, .clients__link:focus {
  cursor: pointer;
  color: var(--accent-color);
  border-color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .clients__link {
    width: 168px;
    height: 90px;
  }
}

.clients__logo {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 34px;
}
@media screen and (max-width: 767px) {
  .selector {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.projects__link .text {
  color: var(--primary-text-color);
}

.projects__link {
  display: block;
}
.projects__link:hover, .projects__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.selector__container {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .selector__container {
    margin-bottom: 30px;
  }
}

.selector {
  margin: -8px;
}

.selector__item {
  margin: 8px;
}

.selector-button {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

.thumb {
  position: relative;
  overflow: hidden;
}

.projects__overlay {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  margin: 0;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 0.9);
}

.projects__link:hover .projects__overlay,
.projects__link:focus .projects__overlay {
  top: 0;
  -webkit-transition: var(--std-timing) var(--std-time-func);
  transition: var(--std-timing) var(--std-time-func);
}

.projects__desc {
  border-right: 1px solid var(--primary-grey-color);
  border-bottom: 1px solid var(--primary-grey-color);
  border-left: 1px solid var(--primary-grey-color);
}

.projects__subtitle {
  margin-left: 24px;
  margin-top: 0;
  margin-bottom: 4px;
  padding-top: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.projects .text {
  margin-left: 24px;
  padding-bottom: 20px;
}

.projects__card {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .projects__card {
    margin: 15px;
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .projects__card {
    width: calc((100% - 90px) / 3);
  }
}

.projects .text {
  font-size: 16px;
  line-height: 1.875;
}

.footer {
  background-color: #2f303a;
  text-align: center;
}

.footer__container {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 1199px) {
  .footer__div,
.footer__social {
    margin-bottom: 60px;
  }
}
.address {
  margin-top: 20px;
  color: var(--primary-white-color);
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__contact {
  color: rgba(255, 255, 255, 0.6);
}

.footer__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

@media screen and (min-width: 1200px) {
  .footer__social {
    margin-left: 70px;
  }
  .footer__subscribe {
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer .order-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 12px;
    padding: 10px 28px;
    border: none;
  }
}

.subscribe-thumb {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .subscribe-thumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.subscribe [type=email] {
  width: 100%;
  height: 50px;
  padding: 0px 0px 0px 16px;
  color: var(--primary-white-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  -webkit-transition-property: border-color;
  transition-property: border-color;
}
@media screen and (max-width: 1199px) {
  .subscribe [type=email] {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe [type=email] {
    width: 358px;
    height: 50px;
  }
}

.address,
.footer-contact {
  display: inline-block;
}/*# sourceMappingURL=main.css.map */