// .cfc {
//   position: relative;
//   width: 480px;
//   margin-left: auto;
//   margin-right: auto;
//   @media screen and (min-width: 768px) {
//     display: none;
//   }
// }

.menu-container {
  // display: none;
  // transform: scale(0);
  position: absolute;
  top: 48px;
  right: -120%;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  transition-property: transform;
  transition: transform var(--long-timing) var(--std-time-func),
    var(--long-timing) var(--std-time-func);
}
.menu-container.is-open {
  display: block;
  overflow: scroll;
  position: absolute;
  top: 0;
  right: 0;
  // width: 100vw;
  // height: 100vh;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: var(--primary-white-color);
  // transform: scale(1);
}
.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-menu__link {
  font-size: 40px;
  font-weight: 500;
  line-height: calc(47 / 40);
  color: var(--secondary-text-color);
  &.current {
    color: var(--accent-color);
  }
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.mobile-menu {
  margin-bottom: 306px;
}
.mobile-menu__contacts .item:not(:last-child) {
  margin-bottom: 32px;
}
.item.tel {
  font-size: 34px;
  line-height: calc(40 / 34);
}
.item.mail {
  font-size: 24px;
  line-height: calc(28 / 24);
}
.mobile-menu__contacts {
  margin-bottom: 64px;
}
.mobile-menu__socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--accent-color);
  font-size: 18;
  line-height: calc(22 / 18);
}
.mobile-menu__socials .item:not(:last-child) {
  padding-right: 17px;
  border-right: 1px solid var(--primary-text-color);
}
