.menu-thumb {
  position: relative;
  overflow: hidden;
}
.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: absolute;
  top: 48px;
  left: 120%;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  transition-property: transform;
  transition: transform var(--std-timing) var(--std-time-func),
    var(--std-timing) var(--std-time-func);
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.menu-container.is-open {
  display: flex;
  overflow: scroll;
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: var(--primary-white-color);
}
.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link {
  font-size: 40px;
  font-weight: 500;
  line-height: calc(47 / 40);
  color: var(--secondary-text-color);
  &.current {
    color: var(--accent-color);
  }
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.mobile-menu__contacts .item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-menu__contacts .item:nth-child(2) {
  margin-bottom: 64px;
}
.tel .link {
  font-size: 34px;
  font-weight: 500;
  line-height: calc(40 / 34);
  color: var(--accent-color);
}
.mail .link {
  font-size: 24px;
  font-weight: 500;
  line-height: calc(28 / 24);
}
.mobile-menu__socials {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: -10px;
  color: var(--accent-color);
}
.mms-item {
  display: block;
  position: relative;
  margin: 10px;
  width: calc((100% - 8 * 10px) / 4);
  min-width: 60px;
  text-align: center;
  line-height: calc(22 / 18);
  @media screen and (min-width: 480px) {
    font-size: 18px;
  }
  @media screen and (max-width: 379.9px) {
    width: calc((100% - 4 * 10px) / 2);
  }
}

.mms-item:not(:nth-child(even))::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  background-color: rgba(33, 33, 33, 0.2);
  height: 1px;
  width: 22px;
  transform: rotate(90deg);
}

@media screen and (min-width: 380px) {
  .mms-item:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    background-color: rgba(33, 33, 33, 0.2);
    height: 1px;
    width: 22px;
    transform: rotate(90deg);
  }
}
