.specialities__subtitle {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: calc(16 / 14);
  color: var(--secondary-text-color);
  @media screen and (max-width: 767.9px) {
    text-align: center;
  }
}
.icon-area {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;

  background-color: var(--secondary-white-color);
}
.specialities__icon {
  width: 70px;
  height: 70px;
}
.specialities__card {
  width: 100%;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    margin: 15px;
    width: calc((100% - 4 * 15px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}
.specialities__text {
  line-height: calc(24 / 14);
}
